.window {
  display: block;
  position: absolute;
  z-index: 100;
  background-color: #FFFFFF;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid; 
  border-color: #555555;
  padding: 0px;
  margin: 0px;
  user-select: text;
  cursor: ew-resize;
}

.window .window_title {
  background-color: #333333;
  display: block;
  height: 30px;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  cursor: url('https://raw.githubusercontent.com/KDE/breeze/1c29fec85b2b8703e9394a47207d1cabcee35635/cursors/Breeze/Breeze/cursors_scalable/default/default.svg'), auto;
}

.window .window_title p {
  padding-top: 15px;
  margin: 0px;
  text-align: center;
}

.window_surface {
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  background-color: #222222;
  height: calc(100% - 46px);
  user-select: text;
  cursor: url('https://raw.githubusercontent.com/KDE/breeze/1c29fec85b2b8703e9394a47207d1cabcee35635/cursors/Breeze/Breeze/cursors_scalable/default/default.svg'), auto;
}

.window_surface p {
  background-color: #292929;
  color: white;
  padding: 20px;
  user-select: text;
}

.window_button {
  background: none;
  border: none;
  cursor: url('https://raw.githubusercontent.com/KDE/breeze/1c29fec85b2b8703e9394a47207d1cabcee35635/cursors/Breeze/Breeze/cursors_scalable/default/default.svg'), auto;
}

.window_button:hover {
  filter: brightness(150%); 
}

.window_button:active {
  filter: brightness(50%); 
}
