body {
  margin: 0;
  background-color: #000000;
  color: #fff;
  font-family: "IBM Plex Serif", Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  display: flex;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  line-height: 1;
  text-align: left;
  flex-direction: column;
}

.content p {
  font-weight: 220;
  margin: 0px;
  padding: 0px;
}

